.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #FBF8F1;
  border-radius: 4px;
  background: #E9DAC1;
  color: #54BAB9;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: white;
  border-color: #54BAB9;
}

.button--inverse {
  background: #E9DAC1;
  color: #253a4e;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #54BAB9;
}

.button--danger {
  background: #E9DAC1;
  border-color: #E9DAC1;
}

.button--danger:hover,
.button--danger:active {
  background: white;
  border-color: #54BAB9;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}