.authentication__header {
  color: F7ECDE;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
  position: center;
}

.authentication form {
  margin-bottom: 1rem;
}